


<h1>Create a Review</h1>

<%= form_for @review  do |f| %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <%= f.label :review %>
  <%= f.text_field :review %>
  <%= f.hidden_field "book_id", :value => params[:book_id] %>
  <br />

  <%= f.submit %>
<% end %>